#tab1, #tab1 th, #tab1 td{
  border: 1px black solid;
}

#tab1 th, #tab1 td{
  padding: 10px;
  text-align: center;
}

#tab1 tfoot{
  font-weight: bold;
}

.imie{
  font-style: italic;
}

#wide{
  width: 40%;
}

#tab2, #tab2 th, #tab2 td{
  border-collapse: collapse;
}

#tab2 th, #tab2 td{
  padding: 10px;
}

#tab2{
  border: 2px black dashed;
  text-align: center;
}

#tab2 thead{
  background-color: blue;
  color: white;
  border-bottom: 1px white solid;
}

#tab2 thead th:nth-child(n+2){
  border-left: 1px white solid;
}

#tab2 tbody td:first-child{
  border-left: none;
}

#tab2 tbody td:last-child{
  border-right: none;
}

#tab2 tbody{
  background-color: yellow;
}

#tab2 tbody td{
  border: 1px black solid;
}

#tab2 tfoot td{
  color: red;
  font-style: italic;
  background-color: black;
  border-bottom: 1px solid black;
}

#tab2 thead th:nth-child(n+2){
  width: 200px;
}

#tab2 thead th:last-child{
  width: 400px;
}
