#tab1{
	margin-bottom: 50px;
}

#tab1, #tab1 th, #tab1 td{
  border: 1px solid black;
}

#tab1 th, #tab1 td{
  padding: 10px;
  text-align: center;
}

#tab1 tfoot{
  font-weight: bold;
}

.imie{
  font-style: italic;
}

#wide{
  width: 150px;
}

#c1{
	margin-bottom: 10px;
}

#c2{
	caption-side: bottom;
	margin-top: 10px;
}

.szary{
	width: 80px;
	background-color: lightgrey;
}

#tab2, #tab2 th, #tab2 td{
  border-collapse: collapse;
}

#tab2 th, #tab2 td{
  padding: 10px;
}

#tab2{
  border: 2px dotted black;
  text-align: center;
	width: 100%;
}

#tab2 thead{
  background-color: blue;
  color: white;
  border-bottom: 1px solid white;
}

#tab2 thead th:nth-child(n+2){
  border-left: 1px solid white;
}


#tab2 tbody th{
  border-left: none;
	border-bottom: 1px solid black;
}

#tab2 tbody td:last-child{
  border-right: none;
}

#tab2 tbody{
  background-color: yellow;
}

#tab2 tbody td{
  border: 1px solid black;
	border-top: none;
}

#tab2 tfoot td{
  color: red;
  font-style: italic;
  background-color: black;
}
